@model Medical_clinic.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<style>
    a {
        text-decoration: none;
        color: #007BFF;
        margin-right: 10px;
    }
</style>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificationTraining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificationTraining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkScheduleData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkScheduleData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
